$red: #ed8796;
$text: #cad3f5;
$surface1: #494d64;
$surface0: #363a4f;
$base: #24273a;
$mantle: #1e2030;

* {
  all: unset;
  font-family: CaskaydiaCove Nerd Font;
}

.layout-box {
  background-color: $base;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5em;
  color: $text;
}

.net-box,
.bat-box,
.tm-box {
  label {
    font-size: 2em;
  }
}

.close-btn {
  font-size: 2em;

  &:hover {
    color: $red;
  }
}

.btns-box {
  font-size: 2.5em;

  button {
    padding: 0.3em 0.6em;
    border-radius: 0.2em;
    background-color: $mantle;

    &:hover {
      transition: 200ms linear background-color, border-radius;
      background-color: $surface0;
    }

    &:first-child {
      color: $red;
    }
  }
}

.sep {
  font-size: 1.5em;
  padding-top: 0.15em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  color: $surface1;
}

.sundial-lbl {
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 0.2em;
  padding: 0.4em;
  padding-bottom: 0.5em;
}
